{% extends 'base.html'%}
{% block content %}
{% import 'modal.html' as modal %}
<div class="w3-2021-illuminating w3-left w3-bar w3-padding-8">
    <h1>Book Information</h1>
</div>
<div class="w3-bar">
    <div class="w3-card w3-bar-item" style="width: 30%;">
        <form action="#" methods="POST">
            <p>
                <label>ISBN</label>
                <input type="text" name="isbn" class="w3-input w3-border" required>
            </p>
            <p>
                <label>TITLE</label>
                <input type="text" name="isbn" class="w3-input w3-border" required>
            </p>
            <p>
                <label>AUTHOR</label>
                <input type="text" name="isbn" class="w3-input w3-border" required>
            </p>
            <p>
                <label>COPYRIGHT</label>
                <input type="text" name="isbn" class="w3-input w3-border" required>
            </p>
            <p>
                <label>EDITION</label>
                <input type="text" name="isbn" class="w3-input w3-border" required>
            </p>
            <p>
                <label>PRICE</label>
                <input type="text" name="isbn" class="w3-input w3-border" required>
            </p>
            <label>QUANTITY</label>
            <p class="w3-bar">
                <input type="text" value=0 name="isbn" style="width: 15%;" class="w3-bar-item w3-input w3-border" readonly>
                <button class="w3-bar-item w3-margin-right w3-margin-left w3-button w3-circle w3-green">+</button>
                <button class="w3-bar-item w3-button w3-circle w3-border w3-border-green">-</button>
            </p>
        </form>
    </div>
    <div class="w3-bar-item" style="width: 70%;">
        <div class="w3-content w3-mobile">
            <table class="w3-table-all w3-display-bottom w3-mobile">
                <tr class="w3-mobile">
                    <th>ID Number</th>
                    <th>Last Name</th>
                    <th>Middle Initial</th>
                    <th>First Name</th>
                    <th>Course</th> 
                    <th>Level</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Update/Delete</th>
                </tr>
                {% for student in booklist %}
                    <tr class="w3-hover-yellow w3-mobile">
                        <td>{{ student['idno']}}</td>
                        <td>{{ student['lastname'].title()}}</td>
                        <td>{{ student['midinit'][0].capitalize() + '.'}}</td>
                        <td>{{ student['firstname'].title()}}</td>
                        <td>{{ student['course'].upper()}}</td>
                        <td>{{ student['level']}}</td>
                        <td>{{ student['username']}}</td>
                        <td>{{ student['password_plain']}}</td>
                        <td>
                            <span class="w3-button w3-2021-marigold w3-round w3-mobile" 
                                  onclick="showStudentModal('{{ student.idno }}', 'update')">
                                <i class="glyphicon glyphicon-edit"></i>
                            </span>
                            {{ modal.showmodal('Update Student', 'update-' + student.idno, student) }} <!-- Dynamic modal ID -->
                        
                            <span class="w3-button w3-2021-raspberry-sorbet w3-round w3-mobile" 
                                  onclick="showStudentModal('{{ student.idno }}', 'delete')">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                            {{ modal.showdeletemodal('Delete Student', 'delete-' + student.idno, student.idno) }} <!-- Dynamic modal ID -->
                        </td>                               
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}