{% extends 'base.html' %}
{% block content %}
<div class="w3-container w3-margin-top w3-padding w3-monospace w3-card-4 w3-2021-amethyst-orchid w3-animate-left">
    <h1 class="w3-center">Welcome to University of Tidert's!</h1>
</div>

<!-- Slideshow container with images -->
<div class="w3-center w3-card-2 w3-2021-inkwell" style="max-width:100%; overflow:hidden;">
    {% for i in range(1, 6) %}
        <img class="mySlides w3-animate-left" src="{{ url_for('static', filename='images/slideshow' + i|string + '.jpg') }}" alt="Banner{{i}}" style="width:100%; max-height:400px; object-fit:cover; display:none;">
    {% endfor %}
</div>

<div id="about" class="w3-container w3-card-2 w3-2021-illuminating w3-animate-bottom w3-margin-top">
    <h2 class="w3-courier">About</h2>
    <p class="w3-center w3-monospace w3-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, 
        sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
         et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
</div>

<h1 class="w3-center w3-xlarge">Meet the Team</h1>

<!-- Adjusting the layout for the 4 cards with spacing and smaller size -->
<div class="w3-row-padding-16 w3-center w3-container" style="margin-top: 20px;">
    <div class="w3-quarter w3-2021-french-blue w3-round w3-card" style="margin-bottom: 20px;">
        <img class="w3-circle w3-image" src="{{ url_for('static', filename='images/pm.jpg') }}" alt="Cyril John" style="width:70%;max-width:300px;">
        <div class="w3-container w3-center w3-large w3-padding">
            <p>Project Manager</p>
        </div>
    </div>
    <div class="w3-quarter w3-2021-french-blue w3-round w3-card" style="margin-bottom: 20px;">
        <img class="w3-circle w3-image" src="{{ url_for('static', filename='images/lead.png') }}" alt="Elon Musk" style="width:70%;max-width:300px;">
        <div class="w3-container w3-center w3-large w3-padding">
            <p>Lead Programmer</p>
        </div>
    </div>
    <div class="w3-quarter w3-2021-french-blue w3-round w3-card" style="margin-bottom: 20px;">
        <img class="w3-circle w3-image" src="{{ url_for('static', filename='images/meh2.jpg') }}" alt="Cyril John" style="width:70%;max-width:300px;">
        <div class="w3-container w3-center w3-large w3-padding">
            <p>Programmer</p>
        </div>
    </div>
    <div class="w3-quarter w3-2021-french-blue w3-round w3-card" style="margin-bottom: 20px;">
        <img class="w3-circle w3-image" src="{{ url_for('static', filename='images/qa.jpg') }}" alt="Cyril John" style="width:70%;max-width:300px;">
        <div class="w3-container w3-center w3-large w3-padding">
            <p>QA Analyst</p>
        </div>
    </div>
</div>

<!-- Slideshow script -->
<script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 3000); // Change image every 3 seconds
    }
</script>
{% endblock %}
