{% macro showmodal(modal_name, id, student) -%}
<div id="{{ id }}" class="w3-modal w3-mobile">
    <div class="w3-modal-content w3-animate-zoom w3-mobile">
        <header class="w3-container w3-2021-french-blue">
            <span onclick="document.getElementById('{{ id }}').style.display='none'"
            class="w3-button w3-display-topright w3-large">&times;</span>
            <h2 class="w3-center">{{ modal_name }}</h2>
        </header>

        <div class="w3-container w3-padding w3-mobile">
            <form class="w3-row-padding" method='POST' action="{{ '/' + id.split('-')[0] + 'student' }}">
                <!-- Form fields with pre-filled values -->
                <div class="w3-half">
                    <p>
                        <label>IDNO</label>
                        <input type="text" value="{{ student['idno'] }}" name="idno" class="w3-input w3-border" required>
                    </p>
                </div>
                <div class="w3-half">
                    <p>
                        <label>COURSE</label>
                        <input type="text" value="{{ student['course'] }}" name="course" class="w3-input w3-border" required>
                    </p>
                </div>
                <div class="w3-half">
                    <p>
                        <label>LEVEL</label>
                        <input type="text" value="{{ student['level'] }}" name="level" class="w3-input w3-border" required>
                    </p>
                </div>
            
                <div class="w3-half">
                    <p>
                        <label>FIRSTNAME</label>
                        <input type="text" value="{{ student['firstname'] }}" name="firstname" class="w3-input w3-border" required>
                    </p>
                </div>
            
                <div class="w3-half">
                    <p>
                        <label>MIDDLE NAME</label>
                        <input type="text" value="{{ student['midinit'] }} "name="midinit" class="w3-input w3-border" required>
                    </p>
                </div>
            
                <div class="w3-half">
                    <p>
                        <label>LASTNAME</label>
                        <input type="text" value="{{ student['lastname'] }}" name="lastname" class="w3-input w3-border" required>
                    </p>
                </div>
                <!-- Add the rest of the form fields here -->
                <div class="w3-panel w3-center w3-padding-top w3-mobile">
                    <p class="w3-center">
                        <input type="submit" value="{{ modal_name }}" class="w3-button w3-blue w3-round-large w3-large w3-padding-16 w3-mobile" style="width:30%">
                    </p>
                </div>
            </form>
        </div>
    </div>     
</div>
{%- endmacro %}

{% macro showdeletemodal(modal_name, id, student) -%}
<div id="{{ id }}" class="w3-modal w3-mobile">
    <div class="w3-modal-content w3-animate-zoom w3-round" style="width: 45%;">
        <header class="w3-container w3-2021-french-blue">
            <span onclick="document.getElementById('{{ id }}').style.display='none'"
            class="w3-button w3-display-topright w3-large">&times;</span>
            <h2 class="w3-center">{{ modal_name }}</h2>
        </header>
        <div class="w3-container w3-mobile w3-center w3-mobile w3-padding-16">
            <h2>Are you sure to delete this student?</h2>
        </div>
        <div class="w3-bar w3-center w3-margin-top w3-margin-bottom w3-mobile w3-padding-64">
            <input type="submit" value="Yes"class="w3-button w3-ios-red w3-round-xlarge w3-xlarge w3-margin-left" style="width: 25%;">
            <span onclick="document.getElementById('{{ id }}').style.display='none'" class="w3-button w3-round-xlarge w3-border w3-border-red w3-xlarge" style="width: 25%;">No</span>
        </div>
    </div>
</div>
{%- endmacro %}
