{% extends 'base.html' %}
{% block content %}
<div class="w3-2021-illuminating w3-center w3-margin-top w3-padding w3-serif">
    <h1>Showing All Students Information</h1>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
	    {% if messages %}
            {% for category, message in messages %}
                {% if category == 'info' %}
                    <div class="w3-panel w3-bar w3-large w3-green w3-display-container w3-margin-top w3-padding w3-animate-zoom" style="width:50%;margin:auto">
                        <span align="center">{{ message }}</span>
                        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-small w3-display-topright">&times;</span>
                    </div>
                {% elif category == 'error' %}
                    <div class="w3-panel w3-bar w3-large w3-red w3-display-container w3-margin-top w3-padding w3-animate-zoom" style="width:50%;margin:auto">
                        <span align="center">{{ message }}</span>
                        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-small w3-display-topright">&times;</span>
                    </div>
                {% endif %}
            {% endfor %}
	    {% endif %}
{% endwith %}
<div class="w3-animate-left w3-content w3-container w3-margin-top">
    <div class="w3-left w3-container w3-row-padding w3-margin">
        <input type="text" name="search" class="w3-input w3-border w3-half w3-medium w3-round w3-padding" placeholder="Search Student ID.." required style="width:70%">
        <a href="#" class="w3-bar-item w3-button w3-quarter w3-xlarge"><i class="fa fa-search"></i></a>
    </div>
    <div class="w3-right w3-container w3-row-padding w3-margin">
        <span class="w3-button w3-2021-french-blue w3-round" onclick="document.getElementById('id01').style.display='block'">Add Student</span>
    </div>
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
      
          <header class="w3-container w3-2021-french-blue">
            <span onclick="document.getElementById('id01').style.display='none'"
            class="w3-button w3-display-topright w3-large">&times;</span>
            <h2 class="w3-center">Add Student</h2>
          </header>
      
          <div class="w3-container w3-padding">
            <form class="w3-row-padding" method='POST' action="/addstudent">

                <div class="w3-half">
                    <p>
                        <label>IDNO</label>
                        <input type="text" name="idno" class="w3-input w3-border" required>
                    </p>
                </div>
        
                <div class="w3-half">
                    <p>
                        <label>COURSE</label>
                        <input type="text" name="course" class="w3-input w3-border" required>
                    </p>
                </div>
        
                <div class="w3-half">
                    <p>
                        <label>LEVEL</label>
                        <input type="text" name="level" class="w3-input w3-border" required>
                    </p>
                </div>
        
                <div class="w3-half">
                    <p>
                        <label>FIRSTNAME</label>
                        <input type="text" name="firstname" class="w3-input w3-border" required>
                    </p>
                </div>
        
                <div class="w3-half">
                    <p>
                        <label>MIDDLE NAME</label>
                        <input type="text" name="midinit" class="w3-input w3-border" required>
                    </p>
                </div>
        
                <div class="w3-half">
                    <p>
                        <label>LASTNAME</label>
                        <input type="text" name="lastname" class="w3-input w3-border" required>
                    </p>
                </div>
        
                <div class="w3-panel w3-center w3-padding-top">
                    <p class="w3-center">
                        <input type="submit" value="ADD STUDENT" class="w3-button w3-blue w3-round-large w3-large w3-padding-16" style="width:30%">
                    </p>
                </div>
            </form>
          </div>     
        </div>
      </div>
    <table class="w3-table-all w3-display-bottom">
        <tr>
            <th>ID Number</th>
            <th>Last Name</th>
            <th>Middle Initial</th>
            <th>First Name</th>
            <th>Course</th>
            <th>Level</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        {% for student in slist %}
            <tr class="w3-hover-yellow">
                <td>{{ student['idno']}}</td>
                <td>{{ student['lastname'].title()}}</td>
                <td>{{ student['midinit'][0].capitalize() + '.'}}</td>
                <td>{{ student['firstname'].title()}}</td>
                <td>{{ student['course'].upper()}}</td>
                <td>{{ student['level']}}</td>
                <td>{{ student['username']}}</td>
                <td>{{ student['password_plain']}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}