{% extends 'base.html' %}
{% block content %}
<div class="w3-2021-illuminating w3-center w3-margin-top w3-padding w3-serif">
    <h1>Showing All Students Information</h1>
</div>
<div class="w3-animate-left w3-content w3-container w3-margin-top">
    <div class="w3-left w3-container w3-row-padding w3-margin">
        <input type="text" name="search" class="w3-input w3-border w3-half w3-medium" placeholder="Search Student IDNO..." required>
        <a href="#" class="w3-bar-item w3-button w3-quarter w3-large"><i class="fa fa-search"></i></a>
    </div>
    <table class="w3-table-all w3-display-bottom">
        <tr>
            <th>ID Number</th>
            <th>Last Name</th>
            <th>Middle Initial</th>
            <th>First Name</th>
            <th>Course</th>
            <th>Level</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        {% for student in slist %}
            <tr class="w3-hover-yellow">
                <td>{{ student['idno']}}</td>
                <td>{{ student['lastname'].title()}}</td>
                <td>{{ student['midinit'][0].capitalize() + '.'}}</td>
                <td>{{ student['firstname'].title()}}</td>
                <td>{{ student['course'].upper()}}</td>
                <td>{{ student['level']}}</td>
                <td>{{ student['username']}}</td>
                <td>{{ student['password_plain']}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}